Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

stylelint:
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

исправления по замечаниям
  .eslintrc.js
  packages/client/package.json
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
Due: lint

Добавление стиле для второй темы
  packages/client/src/assets/images/background/wooden-knight.jpg
  packages/client/src/assets/images/tree-texture.jpg
  packages/client/src/assets/styles/helpers/_variables.scss
  packages/client/src/assets/styles/theme/_theme.scss
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/Theme/index.scss
  packages/client/src/components/Theme/index.tsx
  packages/client/src/pages/Profile/index.tsx
Due: lint, stylelint

fix: проблема с загрузкой аватарок
  packages/server/index.ts
Due: lint

fix: ошибки линтера
  packages/client/src/assets/styles/theme/_theme.scss
  packages/client/src/components/Footer/index.tsx
Due: lint, stylelint

refactor: изменён алгоритм создания\обновления данных юзера
  packages/server/API/controllers/userController.ts
Due: lint

bug: не получается забрать данные юзера при проксирование запроса
  packages/client/src/components/Autification/slice.ts
  packages/server/config/constants.ts
  packages/server/index.ts
  packages/server/middlewares/proxy.ts
Due: lint

check
  package-lock.json
  packages/client/package.json
  packages/client/server.js
Due: none

настройка ссл
  nginx/nginx.conf
Due: none

fix: Исправлены ошибки линтера
  lefthook.yml
  packages/client/src/components/Game/index.scss
Due: stylelint

исправления по ревью
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/client/src/store/store.ts
Due: lint

доработка по замечаниям
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/client/src/store/selectors.ts
  packages/client/typings/app.typings.ts
Due: lint

feat: проверка авторизации, обновление данных пользователя в БД
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/server/API/controllers/userController.ts
  packages/server/API/routes/emojiRoutes.ts
  packages/server/API/routes/forumMessageRoutes.ts
  packages/server/API/routes/forumTopicRoutes.ts
  packages/server/API/routes/leaderboardRoutes.ts
  packages/server/index.ts
  packages/server/middlewares/addUserDB.ts
  packages/server/middlewares/checkAuth.ts
  packages/server/middlewares/proxy.ts
Due: lint

вынос констант
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/typings/constants.ts
Due: lint

fix: конфликты слияния, решена проблема с куками
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/store/store.ts
Due: lint

fix: мелкие правки
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
Due: lint

fix: замечания ревью, оптимизирован алгоритм актуализации данных юзера в БД
  packages/client/src/pages/Topic/Message/index.tsx
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/middlewares/addUserDB.ts
  packages/server/middlewares/checkAuth.ts
  packages/server/middlewares/proxy.ts
Due: lint

save
  packages/client/server.js
  packages/client/src/api/UserService.ts
  packages/client/src/api/types.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/constants.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/repository/YandexAPIRepository.ts
  packages/client/src/store/store.ts
Due: lint

save2
  packages/client/src/api/UserService.ts
  packages/client/src/api/types.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/constants.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/repository/YandexAPIRepository.ts
  packages/client/src/store/store.ts
Due: lint

save3
  packages/client/src/entry-server.tsx
Due: lint

save4
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Header/index.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/store/store.ts
Due: lint

finnaly
  packages/client/index.html
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Header/index.tsx
  packages/client/src/entry-server.tsx
Due: lint

fix: замечания ревью, добавлена проверка юзера в контроллерах
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/middlewares/addUserDB.ts
Due: lint

fix: удалены лишние запросы в контроллерах
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
Due: lint

ci: Загрузка main при push в yandex cloud
  .github/workflows/main.yml
Due: none

finally
  packages/client/src/components/Autification/slice.ts
  packages/client/src/constants.ts
  packages/client/src/entry-server.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/store/store.ts
  packages/client/src/utils/loadUser/index.ts
  packages/client/typings/app.typings.ts
Due: lint

chore: Обновлены конфиги docker
  .dockerignore
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  package.json
Due: none

fix: конфликты слияния
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/typings/constants.ts
Due: lint

merge complite
  packages/client/src/game/Interface.ts
Due: lint

убран лишний код
  packages/client/server.js
Due: none

variables
  packages/client/index.html
  packages/client/server.js
  packages/client/src/App.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/ForumSlice/messagesSlice.ts
  packages/client/src/components/InputValidate/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/game/Game.ts
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/vite.config.ts
Due: lint, stylelint

fix
  packages/client/index.html
Due: none

prod and dev mode
  packages/client/index.html
  packages/client/server.js
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/ForumSlice/forumSlice.ts
  packages/client/src/components/Game/slice.ts
  packages/client/src/game/Game.ts
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/vite.config.ts
Due: lint

final fixes
  packages/client/package.json
  packages/client/src/pages/CreateTopic/index.tsx
  packages/server/index.ts
Due: lint

Update nginx.conf
  nginx/nginx.conf
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
