Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

stylelint:
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

fix: Починен динамический импорт в prod mode
  packages/client/public/game/maps/background-2.png
  packages/client/public/game/maps/map1/settings.ts
  packages/client/public/game/maps/settings-2.json
  packages/client/src/game/Game.ts
Due: lint

убран таймаут
  packages/client/src/components/Autification/slice.ts
Due: lint

решение бага с input
  packages/client/src/assets/styles/App.scss
Due: stylelint

Update App.scss
  packages/client/src/assets/styles/App.scss
Due: stylelint

исправлено
  packages/client/src/game/Game.ts
Due: lint

Мелкие правки вёрстки
  packages/client/src/assets/styles/App.scss
  packages/client/src/components/Leaderboard/LeaderboardView/index.scss
  packages/client/src/components/Leaderboard/LeaderboardView/index.tsx
  packages/client/src/components/Leaderboard/index.scss
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/pages/Leaderboard/index.scss
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/pages/StartScreen/index.scss
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/ui/ButtonImg/index.scss
  packages/client/src/ui/ButtonImg/index.tsx
Due: lint, stylelint

выключен App.test.tsx
  packages/client/jest/__mocks__/storeMock.ts
  packages/client/src/App.test.tsx
Due: lint

стилизована и позиционирована кнопка fullscreen
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_canvas.scss
  packages/client/src/hocs/withFullscreen.tsx
Due: lint, stylelint

Добавлена страница AboutUs, уборка в assets проекта
  packages/client/src/Layout.tsx
  packages/client/src/assets/images/background/about_bg.jpg
  packages/client/src/assets/images/background/helmet.png
  packages/client/src/assets/images/background/knight.jpg
  packages/client/src/assets/images/background/orks.jpg
  packages/client/src/assets/images/metall-texture.jpg
  packages/client/src/assets/images/metall-texture.png
  packages/client/src/assets/img/Logo_header.png
  packages/client/src/assets/img/background/index.tsx
  packages/client/src/assets/styles/_link.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/Header/index.scss
  packages/client/src/pages/AboutUs/index.scss
  packages/client/src/pages/AboutUs/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/StartScreen/index.scss
  packages/client/src/ui/AuthorItem/index.scss
  packages/client/src/ui/AuthorItem/index.tsx
  packages/client/src/ui/ButtonImg/ButtonImg.typings.ts
  packages/client/src/ui/ButtonImg/img/Close.png
  packages/client/src/ui/ButtonImg/img/github.png
  packages/client/src/ui/ButtonImg/img/telegram.png
  packages/client/src/ui/ButtonImg/index.scss
  packages/client/src/ui/ButtonImg/index.tsx
Due: lint, stylelint

пофиксил смену аватара
  packages/client/src/components/Autification/slice.ts
  packages/client/src/pages/Profile/ChangeAvatar.tsx
Due: lint

починил ошибку persist'a
  packages/client/src/store/store.ts
Due: lint

Добавление звука
  package.json
  packages/client/src/components/Button/index.tsx
  packages/client/src/components/Link/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/utils/randomClickSound.ts
Due: lint

добавлен key для компонентов ButtonImg + небольшое изменения Layout.tsx
  packages/client/src/Layout.tsx
  packages/client/src/ui/AuthorItem/index.tsx
  packages/client/src/ui/ButtonImg/ButtonImg.typings.ts
Due: lint

пофиксил пути к фоткам
  packages/client/src/game/Game.ts
Due: lint

uuid
  packages/client/utils/generateId/index.tsx
Due: lint

интегрирован API для загрузки данных leaderboard, удалены моки
  packages/client/src/App.tsx
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Leaderboard/LeaderboardView/index.css
  packages/client/src/components/Leaderboard/LeaderboardView/index.scss
  packages/client/src/components/Leaderboard/LeaderboardView/index.tsx
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/leaderboardList.ts
  packages/client/src/components/Leaderboard/leaderboardListMock.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/Leaderboard/RatingMock.ts
  packages/client/src/pages/Leaderboard/index.scss
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/tsconfig.json
  packages/client/typings/app.typings.ts
  packages/client/utils/generateId/index.tsx
Due: lint, stylelint

изменено отображение главной страницы для незалогиненного пользователя, изменён Layout
  packages/client/public/game/maps/settings-1.json
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Footer/index.scss
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/Leaderboard/index.scss
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/StartScreen/index.tsx
Due: lint, stylelint

добавлена отправка запроса после завершения игры
  packages/client/src/Layout.tsx
  packages/client/src/components/GameField/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Leaderboard/LeaderboardView/LiderboardView.typings.ts
  packages/client/src/components/Leaderboard/LeaderboardView/index.tsx
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/store/store.ts
  packages/client/typings/app.typings.ts
Due: lint

удалён toast при запросе к api leaderboard
  packages/client/src/components/Leaderboard/slice.ts
Due: lint

загрузка папки со звуками
  packages/client/src/assets/sounds/ask.mp3
  packages/client/src/assets/sounds/orcsound.mp3
  packages/client/src/assets/sounds/say.mp3
  packages/client/src/assets/sounds/smile.mp3
Due: none

исправление ошибок
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/ProgressBar/index.tsx
Due: lint

удалён console.log из slice.ts
  packages/client/src/components/Leaderboard/slice.ts
Due: lint

исправлены замечания ревью, изменена функция logOut, добавлен лоадер на страницу leaderboard
  .gitignore
  packages/client/src/App.tsx
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/GameField/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/components/LoaderComponent/slice.ts
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/ui/Loader/img/Loader.png
  packages/client/src/ui/Loader/index.scss
  packages/client/typings/app.typings.ts
  packages/server/index.ts
Due: lint, stylelint

мелкие исправления
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/store/store.ts
Due: lint

исправления замечаний ревью
  packages/client/src/components/GameField/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

добавление страниц форума, корекции в верстке звука
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Controls/index.scss
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/index.scss
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/Input/index.tsx
  packages/client/src/components/ProgressBar/index.tsx
  packages/client/src/pages/Forum/AddTopic/index.scss
  packages/client/src/pages/Forum/AddTopic/index.tsx
  packages/client/src/pages/Forum/ForumHeader/index.scss
  packages/client/src/pages/Forum/ForumHeader/index.tsx
  packages/client/src/pages/Forum/SearchTopic/index.tsx
  packages/client/src/pages/Forum/TopicList/index.scss
  packages/client/src/pages/Forum/TopicList/index.tsx
  packages/client/src/pages/Topic/Message/index.scss
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.scss
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.scss
  packages/client/src/pages/Topic/index.tsx
Due: lint, stylelint

исправлена опечатка, блокирующая сборку
  .gitattributes
  packages/client/.gitignore
  packages/client/src/components/Header/index.scss
Due: stylelint

верстка форума
  packages/client/src/Layout.tsx
  packages/client/src/components/Input/index.tsx
  packages/client/src/pages/Forum/AddTopic/index.scss
  packages/client/src/pages/Forum/AddTopic/index.tsx
  packages/client/src/pages/Forum/ForumHeader/index.scss
  packages/client/src/pages/Forum/ForumHeader/index.tsx
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/SearchTopic/index.tsx
  packages/client/src/pages/Forum/TopicList/index.scss
  packages/client/src/pages/Forum/TopicList/index.tsx
  packages/client/src/pages/Forum/index.scss
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.scss
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.scss
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
Due: lint, stylelint

корекция в верстке плеера
  packages/client/src/components/AudioPlayer/index.scss
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Controls/index.scss
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/index.scss
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/ProgressBar/index.tsx
Due: lint, stylelint

исправления замечаний ревью
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/store/selectors.ts
Due: lint

Merge development_upstream
  packages/client/src/assets/fonts/fonts.css
  packages/client/src/components/Input/index.tsx
  packages/client/src/ui/HeaderH1/index.scss
Due: lint, stylelint

типизация
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Controls/Controls.typing.ts
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/DisplayTrack.typing.ts
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/Footer/Footer.typings.ts
  packages/client/src/components/Footer/index.tsx
Due: lint

типизация
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/ProgressBar/index.tsx
Due: lint

feat: добавлен background
  packages/client/index.html
  packages/client/src/assets/images/background/bg-left.jpg
  packages/client/src/assets/images/background/bg-right.jpg
  packages/client/src/assets/styles/App.scss
  packages/client/src/index.scss
Due: stylelint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
