Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

stylelint:
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

исправлены замечания ревью, изменена функция logOut, добавлен лоадер на страницу leaderboard
  .gitignore
  packages/client/src/App.tsx
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/GameField/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Leaderboard/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/components/LoaderComponent/slice.ts
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/pages/Profile/index.tsx
  packages/client/src/store/selectors.ts
  packages/client/src/store/store.ts
  packages/client/src/ui/Loader/img/Loader.png
  packages/client/src/ui/Loader/index.scss
  packages/client/typings/app.typings.ts
  packages/server/index.ts
Due: lint, stylelint

исправления замечаний ревью
  packages/client/src/components/GameField/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

исправления замечаний ревью
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/store/selectors.ts
Due: lint

fix: исправлены ссылки на стартовой странице
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

fix:изменены backgrounds, мелкие правки
  packages/client/src/assets/images/background/bg-left.jpg
  packages/client/src/assets/images/background/bg-right.jpg
  packages/client/src/assets/images/background/bg_left.jpg
  packages/client/src/assets/images/background/bg_right.jpg
  packages/client/src/assets/styles/App.scss
  packages/client/src/components/Header/index.scss
  packages/client/src/components/Header/index.tsx
Due: lint, stylelint

feat: добавлен анимация ui элементов
  packages/client/src/assets/styles/_link.scss
  packages/client/src/components/Avatar/index.scss
  packages/client/src/components/Theme/index.scss
  packages/client/src/pages/Leaderboard/index.scss
  packages/client/src/ui/ButtonImg/index.scss
Due: stylelint

chore: добавлены sequelize sequelize-typescript reflect-metadata
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: none

неработающий oauth
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

revert: удалены файлы/изменения не относящиеся к форуму
  package.json
  packages/client/src/components/AudioPlayer/index.scss
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Button/Button.typings.ts
  packages/client/src/components/Controls/Controls.typing.ts
  packages/client/src/components/Controls/index.scss
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/DisplayTrack.typing.ts
  packages/client/src/components/DisplayTrack/index.scss
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/Link/Link.typings.ts
  packages/client/src/components/Link/index.tsx
  packages/client/src/components/ProgressBar/index.scss
  packages/client/src/components/ProgressBar/index.tsx
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
Due: lint, stylelint

добавлен ssr
  package.json
  packages/client/index.html
  packages/client/package.json
  packages/client/server.js
  packages/client/src/App.tsx
  packages/client/src/components/Theme/slice.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/store/store.ts
  packages/client/tsconfig.node.json
  packages/client/utils/generateId/index.tsx
  packages/server/package.json
Due: lint

revert: 650ac691
  packages/client/src/pages/Forum/AddTopic/index.scss
  packages/client/src/pages/Forum/AddTopic/index.tsx
  packages/client/src/pages/Forum/ForumHeader/index.scss
  packages/client/src/pages/Forum/ForumHeader/index.tsx
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/SearchTopic/index.tsx
  packages/client/src/pages/Forum/TopicList/index.scss
  packages/client/src/pages/Forum/TopicList/index.tsx
  packages/client/src/pages/Topic/Message/index.scss
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.scss
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.scss
  packages/client/src/pages/Topic/index.tsx
Due: lint, stylelint

chore: зафиксирована версия react-icons, удалён use-sound
  package.json
  packages/client/package.json
Due: none

fix: разрешены конфликты слияния
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/index.tsx
Due: lint

fix: AudioPlayer возвращён в футер
  packages/client/package.json
  packages/client/src/components/Footer/index.tsx
Due: lint

fix: коммит для проверки Versel
  README.md
Due: none

test
  packages/client/server.js
  packages/client/src/Test.tsx
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/test.scss
Due: lint, stylelint

working oauth
  packages/client/src/components/Autification/slice.ts
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

есть пара грешков, но ssr в целом готов, буду дорабатывать и улучшать
  packages/client/index.html
  packages/client/server.js
  packages/client/src/App.tsx
  packages/client/src/Test.tsx
  packages/client/src/createCache.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/test.scss
Due: lint, stylelint

fix: исправлено замечание ревью ArkadiySamokhvalov
  packages/client/index.html
  packages/client/src/Layout.tsx
  packages/client/src/assets/styles/App.scss
Due: lint, stylelint

feat: добавлена модель User, добавлена регистрация моделей
  package.json
  packages/server/API/controllers/userController.ts
  packages/server/API/models/User.ts
  packages/server/API/routes/userRoutes.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  packages/server/typings/app.typings.ts
Due: lint

fix
  packages/client/src/components/Autification/slice.ts
Due: lint

Исправление инпорта фунции рандомных звуков. Теперь рандомные звуки только на кнопках входа, регистрации и логина.
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/Register/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

feat: добавлены модели Leaderboard, Emoji, ForumMessage, ForumTopic. Добавлены роуты, контроллеры
  package.json
  packages/client/public/game/maps/settings-1.json
  packages/client/tsconfig.json
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/Leaderboard.ts
  packages/server/API/models/Theme.ts
  packages/server/API/models/User.ts
  packages/server/API/routes/forumMessageRoutes.ts
  packages/server/API/routes/forumTopicRoutes.ts
  packages/server/API/routes/themeRoutes.ts
  packages/server/API/routes/userRoutes.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/tsconfig.json
Due: lint

изменения по ревью
  package-lock.json
  packages/client/package.json
  packages/client/server.js
  packages/client/src/client.d.ts
  packages/client/src/components/Theme/slice.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
Due: lint

style: стандартизированны ответы от сервера, изменены url API
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/index.ts
Due: lint

feat: добавлен контроллер для ForumMessage
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/Leaderboard.ts
  packages/server/API/models/Theme.ts
  packages/server/API/models/User.ts
  packages/server/API/routes/forumMessageRoutes.ts
  packages/server/utils/generateId/index.ts
Due: lint

feat: добавлен контроллер и роуты для Leaderboard
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/routes/leaderboardRoutes.ts
  packages/server/API/routes/userRoutes.ts
  packages/server/index.ts
Due: lint

переработана система сохранения данных
  packages/client/jest/__mocks__/storeMock.ts
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/Layout.tsx
  packages/client/src/components/Autification/slice.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/pages/Leaderboard/index.tsx
  packages/client/src/store/store.ts
  packages/client/utils/hooks/useAuth.ts
Due: lint

feat: связаны модели User и Leaderboard, в выдачу ручки /leaderboard/all добавлены поля User
  packages/server/API/README.MD
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/models/Leaderboard.ts
  packages/server/API/models/User.ts
Due: lint

feat: добавлен контроллер и роуты для Emoji
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/routes/emojiRoutes.ts
  packages/server/API/routes/forumMessageRoutes.ts
  packages/server/index.ts
Due: lint

docs: добавлен README для API
  packages/server/API/README.MD
Due: none

feat: в выдачу ручки /user добавлены поля Theme и Score, добавлен json с тестовыми запросами для postman
  packages/server/API/README.MD
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/models/Theme.ts
  packages/server/API/models/User.ts
  packages/server/API/nolabel-game.postman_collection.json
  packages/server/db.ts
  packages/server/index.ts
Due: lint

мелкий фикс
  packages/client/server.js
Due: none

refactor: мелкие улучшения и правки, дополнена документация
  packages/server/API/README.MD
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/User.ts
  packages/server/API/nolabel-game.postman_collection.json
  packages/server/API/routes/emojiRoutes.ts
  packages/server/API/routes/userRoutes.ts
Due: lint

refactor: добавлена библиотека http-status-codes, статус-коды переписаны в соответствие с ТЗ
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/package.json
Due: lint

refactor: мелкие улучшения
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/db.ts
  packages/server/index.ts
Due: lint

Полностью переработан код, так как по решению команды полноценный плеер не нужен. Функционал оставляем на уровне старт/пауза музыки.
  packages/client/src/components/AudioPlayer/index.scss
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Controls/Controls.typing.ts
  packages/client/src/components/Controls/index.scss
  packages/client/src/components/Controls/index.tsx
  packages/client/src/components/DisplayTrack/DisplayTrack.typing.ts
  packages/client/src/components/DisplayTrack/index.scss
  packages/client/src/components/DisplayTrack/index.tsx
  packages/client/src/components/Footer/index.tsx
  packages/client/src/components/ProgressBar/index.scss
  packages/client/src/components/ProgressBar/index.tsx
Due: lint, stylelint

feat: добавлен helmet, добавлена валидация всех строковых полей моделей
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/User.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/utils/generateId/index.ts
  packages/server/utils/regExp/XSS.ts
  packages/server/utils/regExp/validation.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
