Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

stylelint:
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

Delete yarn.lock
  yarn.lock
Due: none

Добавлены тесты
  package.json
  packages/client/jest.config.js
  packages/client/jest/_mocks_/fileMock.ts
  packages/client/jest/_mocks_/styleMock.ts
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/client/src/components/Button/Button.test.tsx
  packages/client/src/components/Button/index.scss
  packages/client/src/components/Input/Input.test.tsx
  packages/client/src/components/Title/Title.test.tsx
  packages/client/src/components/Title/index.css
  packages/client/src/components/Title/index.scss
  packages/client/src/components/Title/index.tsx
  packages/client/src/setupTests.ts
  yarn.lock
Due: lint, stylelint

Изменён .gitattributes
  .gitattributes
Due: none

fix: аватар в хедере и в рейтинге теперь отображается корректно
  packages/client/src/components/Avatar/images/avatar-dafault.png
  packages/client/src/components/Avatar/images/avatar-default.png
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Header/index.tsx
Due: lint

Изменён компонент Theme, профиль пользователя в процессе
  packages/client/src/components/Theme/index.module.scss
  packages/client/src/components/Theme/index.scss
  packages/client/src/components/Theme/index.tsx
  packages/client/src/components/Theme/slice.ts
  packages/client/src/pages/Profile/index.tsx
Due: lint, stylelint

Стилизован профиль пользователя, fix: header, avatar, Theme
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/components/Theme/index.scss
  packages/client/src/pages/Profile/index.scss
  packages/client/src/pages/Profile/index.tsx
Due: lint, stylelint

Стилизованы страницы изменения данных профиля, пароля и аватарки.
  packages/client/src/assets/styles/App.scss
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/InputValidate/index.scss
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/src/pages/Profile/ChangePassword.tsx
  packages/client/src/pages/Profile/ChangeProfile.tsx
  packages/client/src/pages/Profile/index.scss
  packages/client/src/pages/Profile/index.tsx
Due: lint, stylelint

Добавлен баг репорт
  packages/client/bugreport/bugreport.md
  packages/client/bugreport/img.png
Due: none

переименовал userSlice в userReducer
  packages/client/src/Store/store.ts
  packages/client/src/components/Autification/slice.ts
Due: lint

удалил неактуальный импорт
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/assets/styles/_customButton.scss
Due: stylelint

Исправлены замечания по тестам
  .gitignore
  package.json
  packages/client/package.json
Due: none

удалил неиспользуемую переменную в стилях
  packages/client/src/assets/styles/_customButton.scss
  packages/client/src/assets/styles/_link.scss
  packages/client/src/components/Avatar/index.css
  packages/client/src/components/Avatar/index.scss
  packages/client/src/components/Button/index.scss
  packages/client/src/components/InputValidate/index.scss
  packages/client/src/components/InputWrapper/index.scss
  packages/client/src/components/LogoText/index.scss
  packages/client/src/components/Title/index.scss
  packages/client/src/components/ValidateErrorMessage/index.scss
  packages/client/src/ui/HeaderH1/index.scss
Due: stylelint

поменял аватар
  packages/client/src/components/Avatar/images/avatar-dafault.png
  packages/client/src/components/Avatar/images/avatar-default.png
Due: none

Выполнена настройка Jest
  packages/client/jest.config.js
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/client/src/pages/RatingPage/index.tsx
Due: lint

Добавлен тест для App.tsx
  packages/client/mock/rating.ts
  packages/client/src/App.test.tsx
Due: lint

тесты должны работать
  packages/client/fileMock.js
  packages/client/jest.config.js
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/client/src/assets/styles/App.scss
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/assets/styles/_customButton.scss
  packages/client/src/assets/styles/_varThemeDefault.scss
  packages/client/src/components/Footer/index.scss
  packages/client/src/components/Input/index.tsx
Due: lint, stylelint

Удалены\заменены малоиспользуемые компоненты, добавлен тест для компонента Avatar
  packages/client/jest.setup.js
  packages/client/package.json
  packages/client/src/components/Avatar/Avatar.test.tsx
  packages/client/src/components/Input/index.scss
  packages/client/src/components/Input/index.tsx
  packages/client/src/components/InputWrapper/index.scss
  packages/client/src/components/InputWrapper/index.tsx
  packages/client/src/components/LogoText/index.tsx
  packages/client/src/pages/DevPage/index.tsx
  packages/client/src/pages/LoginPage/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
  packages/client/src/ui/HeaderH1/index.scss
  packages/client/src/ui/HeaderH1/index.tsx
Due: lint, stylelint

Стилизована страница рейтинга, добавлен алгоритм построения гистограммы
  packages/client/mock/rating.ts
  packages/client/src/pages/RatingPage/index.scss
  packages/client/src/pages/RatingPage/index.tsx
Due: lint, stylelint

Небольшие изменения логики страницы рейтинга
  packages/client/src/pages/RatingPage/index.tsx
Due: lint

пулл картинки
  packages/client/src/components/Footer/images/NoLabel Copyright © 2023.png
Due: none

add hooks,redux,improve vaidation & privet routes
  packages/client/src/Layout.tsx
  packages/client/src/Store/store.ts
  packages/client/src/components/Autification/slice.ts
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Profile/ChangeAvatar.tsx
  packages/client/typings/app.typings.ts
Due: lint

fix
  .stylelintrc.js
Due: none

update dependecies
  yarn.lock
Due: none

presist+fix in login
  packages/client/src/Layout.tsx
  packages/client/src/Store/store.ts
  packages/client/src/components/Autification/slice.ts
Due: lint

Delete .stylelintrc.js
  .stylelintrc.js
Due: none

удалил неактуальный импорт
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/assets/styles/_customButton.scss
Due: stylelint

тесты должны работать
  packages/client/src/assets/styles/_avatar.scss
  packages/client/src/assets/styles/_customButton.scss
Due: stylelint

Добавлены тесты
  packages/client/jest.config.js
  packages/client/jest/_mocks_/fileMock.ts
  packages/client/src/components/Button/Button.test.tsx
  packages/client/src/components/Button/index.scss
  packages/client/src/components/Input/Input.test.tsx
  packages/client/src/components/Title/index.scss
  packages/client/src/components/Title/index.tsx
  yarn.lock
Due: lint, stylelint

Удалён bugreport
  packages/client/bugreport/bugreport.md
  packages/client/bugreport/img.png
Due: none

внес изменения
  packages/client/public/game/assets/towers/archer/sprite.png
  packages/client/src/Layout.tsx
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/components/Title/index.scss
  packages/client/src/game/Game.ts
  packages/client/src/pages/Game/index.tsx
  packages/client/typings/app.typings.ts
Due: lint, stylelint

chore: Добавлены алиасы для путей
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint

lint: Добавлена сортировка импортов
  .eslintrc.js
  packages/client/package.json
Due: none

feat: Настроен service worker
  .gitignore
  packages/client/index.html
  packages/client/package.json
  packages/client/public/icons/android-chrome-192x192.png
  packages/client/public/icons/android-chrome-512x512.png
  packages/client/public/icons/apple-touch-icon.png
  packages/client/public/icons/favicon-16x16.png
  packages/client/public/icons/favicon-32x32.png
  packages/client/public/icons/favicon.ico
  packages/client/src/sw.ts
  packages/client/vite.config.ts
Due: lint

решение бага с input
  packages/client/src/assets/styles/App.scss
Due: stylelint

Fix: ошибка при изменении данных в профиле пользователя
  packages/client/src/components/Autification/slice.ts
Due: lint

исправил все прегрешения
  packages/client/src/Layout.tsx
  packages/client/src/components/Canvas/index.tsx
  packages/client/src/components/Header/index.tsx
  packages/client/src/game/Game.ts
  packages/client/src/hocs/withFullscreen.tsx
  packages/client/src/pages/Game/index.tsx
Due: lint

fix: после изменения данных в профиле пользователя не происходит обновление данных в Store
  packages/client/src/components/Autification/slice.ts
  packages/client/src/pages/Profile/ChangeProfile.tsx
Due: lint

feat: Настроен service worker
  .gitignore
  packages/client/index.html
  packages/client/package.json
  packages/client/public/icons/android-chrome-192x192.png
  packages/client/public/icons/android-chrome-512x512.png
  packages/client/public/icons/apple-touch-icon.png
  packages/client/public/icons/favicon-16x16.png
  packages/client/public/icons/favicon-24x24.png
  packages/client/public/icons/favicon-32x32.png
  packages/client/public/icons/favicon-64x64.png
  packages/client/public/icons/favicon.ico
  packages/client/src/sw.ts
  packages/client/vite.config.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
