Repository Tarakann119/noLabel-game: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}
    stylelint:
      glob: '*.{css,scss}'
      run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

удаление компонента
  packages/client/src/components/Link/Link.typings.ts
  packages/client/src/components/Link/index.tsx
Due: lint

refactor: XSS, forumMessageController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/User.ts
  packages/server/utils/regExp/XSS.ts
  packages/server/utils/regExp/validation.ts
Due: lint

refactor: исправление замечаний ревью
  packages/client/src/pages/StartScreen/index.tsx
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/controllers/leaderboardController.ts
  packages/server/API/controllers/themeController.ts
  packages/server/API/controllers/userController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/Leaderboard.ts
  packages/server/API/models/Theme.ts
  packages/server/API/models/User.ts
  packages/server/API/nolabel-game.postman_collection.json
Due: lint

docs: обновлена документация
  packages/server/API/README.MD
  packages/server/API/models/ForumTopic.ts
  packages/server/API/models/Theme.ts
Due: lint

feat: Добавлена вёрстка форума
  packages/client/src/components/Post/Post.typings.ts
  packages/client/src/components/Post/index.scss
  packages/client/src/components/Post/index.tsx
  packages/client/src/components/Topic/index.scss
  packages/client/src/components/Topic/index.tsx
  packages/client/src/pages/Forum/CreatePost/index.scss
  packages/client/src/pages/Forum/CreatePost/index.tsx
  packages/client/src/pages/Forum/ForumMock.ts
  packages/client/src/pages/Forum/ForumTheme.tsx
  packages/client/src/pages/Forum/Post/PostCommentsMock.ts
  packages/client/src/pages/Forum/Post/PostMock.ts
  packages/client/src/pages/Forum/Post/index.scss
  packages/client/src/pages/Forum/Post/index.tsx
  packages/client/src/pages/Forum/index.scss
  packages/client/src/pages/Forum/index.tsx
Due: lint, stylelint

Delete package-lock.json
  package-lock.json
Due: none

Delete yarn.lock
  yarn.lock
Due: none

fix: Удалены лишние файлы, исправлены опечатки
  packages/client/.stylelintrc.cjs
  packages/client/package.json
  packages/client/public/img/background/about.jpg
  packages/client/src/assets/icons/sprite.svg
  packages/client/src/components/Post/index.scss
  packages/client/src/components/Post/index.tsx
Due: lint, stylelint

мелкий фикс бага
  packages/client/src/App.tsx
  packages/client/src/components/Autification/slice.ts
Due: lint

fix: исправлена ошибка авторизации
  packages/client/src/Layout.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

feat: в выдачу контроллера ForumTopic добавлено поле last_message
  packages/server/API/README.MD
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/models/ForumTopic.ts
Due: lint

Merge branch 'development' into server_api
  package.json
Due: none

Merge branch 'development' into server_api
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

Revert "Delete yarn.lock"
  yarn.lock
Due: none

refactor: Удалены лишние импорты
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/Forum/index.tsx
Due: lint

refactor: Изменено поле поиска по темам
  packages/client/package.json
  packages/client/src/components/Input/index.tsx
  packages/client/src/components/InputValidate/InputValidate.typings.ts
  packages/client/src/components/InputValidate/index.tsx
  packages/client/src/pages/Forum/SearchTopic/index.tsx
  yarn.lock
Due: lint

корекции ошибок eslint
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/Register/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

новый патч, завез контента
  packages/client/public/game/assets/towers/archer/tower.png
  packages/client/public/game/assets/towers/crossbowman/projectile/sprite.png
  packages/client/public/game/assets/towers/crossbowman/sprite.png
  packages/client/public/game/assets/towers/magicTower/projectile/sprite.png
  packages/client/public/game/assets/towers/magicTower/sprite.png
  packages/client/public/game/assets/towers/stone/tower.png
  packages/client/public/game/assets/towers/tower_list.png
  packages/client/public/game/maps/settings-1.json
  packages/client/src/game/Game.ts
  packages/client/src/game/settings/buldings.ts
  packages/client/typings/app.typings.ts
Due: lint

new Audio вместе с ssr
  lefthook.yml
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/game/Game.ts
  packages/client/src/pages/Login/index.tsx
  packages/client/src/pages/Register/index.tsx
  packages/client/src/pages/StartScreen/index.tsx
Due: lint

финиш
  lefthook.yml
Due: none

рефакторинг кода
  packages/client/src/game/Game.ts
Due: lint

логика запросов к апи форума
  packages/client/package.json
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/Forum/ForumHeader/index.tsx
  packages/client/src/pages/Forum/SearchTopic/index.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

оптимизация кода
  packages/client/src/game/Game.ts
Due: lint

fix: отсутствие переменной global, временно отключена проверка юзера на бэкенде
  packages/client/index.html
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
Due: lint

Revert "Forum logic"
  packages/client/index.html
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
Due: lint

chore: костыль для тестирования форума, пока нет прокси для проверки авторизации
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/models/User.ts
Due: lint

запросы форума 2
  packages/client/index.html
  packages/client/package.json
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/client/typings/app.typings.ts
Due: lint

стили кнопки
  packages/client/src/components/AudioPlayer/index.tsx
  packages/client/src/components/Button/index.scss
Due: lint, stylelint

chore: добавлено проксирование запросов
  packages/client/src/components/Autification/slice.ts
  packages/client/src/components/Avatar/index.tsx
  packages/client/src/components/Leaderboard/slice.ts
  packages/server/config/constants.ts
  packages/server/index.ts
  packages/server/middlewares/proxy.ts
  packages/server/package.json
Due: lint

замечания по ревью
  packages/client/src/game/Game.ts
Due: lint

логика форума
  packages/client/package.json
  packages/client/src/components/Dropdown/Dropdown.css
  packages/client/src/components/Dropdown/index.tsx
  packages/client/src/components/Emoji/EmoteMenu.scss
  packages/client/src/components/Emoji/EmoteMenu.tsx
  packages/client/src/components/Emoji/data.ts
  packages/client/src/components/TextArea/index.scss
  packages/client/src/components/TextArea/index.tsx
  packages/client/src/pages/Topic/Message/index.scss
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.scss
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.scss
  packages/client/src/pages/Topic/index.tsx
  packages/client/typings/app.typings.ts
Due: lint, stylelint

fixes
  packages/client/src/components/TextArea/index.tsx
  packages/client/src/pages/Forum/index.tsx
  packages/client/src/pages/Topic/Message/index.scss
  packages/client/src/pages/Topic/Message/index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/server/API/README.MD
Due: lint, stylelint

fix: ошибка при удалении темы, запросы на клиенте
  packages/client/src/pages/CreateTopic/index.tsx
  packages/client/src/pages/Topic/index.tsx
  packages/server/API/controllers/emojiController.ts
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
Due: lint

fix: реализовано удаление каскадных таблиц на уровне базы
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
  packages/server/API/models/Emoji.ts
  packages/server/API/models/ForumMessage.ts
  packages/server/API/routes/forumMessageRoutes.ts
Due: lint

refactor: изменён алгоритм обновления и удаления данных из БД
  packages/server/API/controllers/forumMessageController.ts
  packages/server/API/controllers/forumTopicController.ts
Due: lint
